<div class="form-group">
  <%= form_for(@question) do |f| %>
    <% if @question.errors.any? %>
      <div class="form-group">
        <ul>
          <% @question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :user_id %>

    <div class="form-group">
      <%= f.label :text, 'Вопрос' %>
      <%= f.text_area :text, class: 'form-control' %>
    </div>

    <% if current_user.present? && current_user == @question.user %>
      <div class="form-group">
        <%= f.label :answer, 'Ответ' %>
        <%= f.text_area :answer, class: 'form-control' %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
      или
      <%= link_to "вернуться", user_path(@question.user) %>
    </div>
  <% end %>
</div>
