<div class="container">
  <div class="p-2">
    <%= question.text %>
  </div>

  <div class="p-2">
    <% if question.author %>
      <%= link_to "@#{question.author.username}", user_path(question.author), class: "badge badge-primary" %>
    <% end %>
    <span class="badge badge-light"> <%= l(question.created_at, format: :short) %></span>
  </div>

  <% if question.answer.present? %>
    <div class="p-2 m-2 bg-secondary text-light rounded">
      <i class="p-2"><%= question.answer %></i>
    </div>
  <% end %>

  <% if question.user == current_user %>
    <% edit_icon = question.answer.blank? ? 'reply' : 'edit' %>
      <div class="p-2">
        <%= link_to fa_icon(edit_icon), edit_question_path(question), class: "pr-2" %>
        <%= link_to fa_icon('trash-alt'), question_path(question), class: "pr-2",
                    method: :delete, data: {confirm: 'Точно удалить вопрос?'} %>
      </div>
  <% end %>
</div>
