<div class="container">
  <h3><%= t('links.sign_in') %></h3>

  <div class="card">
    <div class="card-body bg-light">
      <div class="form-group">
        <%= form_tag session_path do %>
          <div class="form-group">
            <%= label_tag :email, t('forms.email_login') %>
            <%= text_field_tag :email, params[:email], class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= label_tag :password, t('forms.password') %>
            <%= password_field_tag :password, '', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= submit_tag t('links.sign_in'), class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
