<div class="container">
  <h3><%= t('links.edit_profile') %></h3>

  <div class="form-group">
    <%= form_for @user do |f| %>
    
      <% if @user.errors.any? %>
        <div class="form-group">
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :email, t('forms.email_login') %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :username, t('forms.username') %>
        <%= f.text_field :username, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :name, t('forms.name') %>
        <%= f.text_field :name, class: 'form-control' %>        
      </div>

       <div class="form-group">
        <%= f.label :avatar_url, t('forms.avatar_url') %>
        <%= f.text_field :avatar_url, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :bgcolor, t('forms.bgcolor') %>
        <%= f.color_field :bgcolor, class: 'form-control' %>
      </div>

      <div class="mt-2 mb-2">
        <strong><%= t('forms.password_change') %></strong>
      </div>

      <div class="form-group">
        <%= f.label :password, t('forms.password') %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, t('forms.password_confirmation') %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit t('forms.save'), class: 'btn btn-primary' %>
        <%= link_to t('forms.delete_account'), @user, method: :delete,
        data: { confirm: t('forms.destroy_confirm') },
        class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
