<div class="container">
  <h3>Редактирование профиля</h3>

  <div class="form-group">
    <%= form_for @user do |f| %>
    
      <% if @user.errors.any? %>
        <div class="form-group">
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :email, 'Логин (email)' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :username, 'Никнейм' %>
        <%= f.text_field :username, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :name, 'Имя' %>
        <%= f.text_field :name, class: 'form-control' %>        
      </div>

       <div class="form-group">
        <%= f.label :avatar_url, 'URL вашей аватарки' %>
        <%= f.text_field :avatar_url, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :bgcolor, "Цвет фона вашего профиля" %>
        <%= f.color_field :bgcolor, class: 'form-control' %>
      </div>

      <div class="mt-2 mb-2">
        <strong>Если не хотите менять пароль — оставьте эти поля пустыми!</strong>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Пароль' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Пароль ещё раз' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
        <%= link_to "Удалить аккаунт", @user, method: :delete,
        data: { confirm: "Вы уверены? Все ваши данные будут удалены!" },
        class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
