<div class="container">
  <h3><%= t('links.join_us') %></h3>

  <div class="card">
    <div class="card-body bg-light">
      <div class="form-group">
        <%= form_for @user do |f| %>
        
          <% if @user.errors.any? %>
            <div class="form-group">
              <ul>
                <% for message in @user.errors.full_messages %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :email, t('forms.email_login') %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :username, t('forms.username') %>
            <%= f.text_field :username, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :name, t('forms.name') %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password, t('forms.password') %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, t('forms.password_confirmation') %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.submit t('forms.sign_up'), class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
