<div class="container">
  <div class="card">
    <div class="card-body" style="background-color: <%= @user.bgcolor %>">
      <div class="text-center">
        <h1><%= @user.name %></h1>

        <div>
          <%= image_tag user_avatar(@user), alt: '[photo]', class: 'rounded' %>
        </div>

        <h3>@<%= @user.username %></h3>

        <div>
          <%= link_to t('links.ask_me'), '', class: 'btn btn-primary', id: 'ask-button' %> 

          <div class="form-group mt-3" id="ask-form">
            <%= form_for @new_question do |f| %>
              <%= f.hidden_field :user_id %>

              <div class="form-group">
                <%= f.label "#{t('forms.question_for')} @#{@user.username}" %>
                <%= f.text_area :text, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= submit_tag t('forms.ask_question'), class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>     
          
          <div class="row mt-4 mb-2">
            <div class="col">
              <h3><%= @questions_count %></h3>
              <%= incline(@questions_count, t('incline.question_one'), t('incline.question_few'), t('incline.question_any')) %>
            </div>
            <div class="col">
              <h3><%= @answers_count %></h3>
              <%= incline(@answers_count, t('incline.answer_one'), t('incline.answer_few'), t('incline.answer_any')) %>
            </div>
            <div class="col">
              <h3><%= @unanswered_count %></h3>
              <p><%= t('incline.no_answer') %></p>
            </div>
          </div>    
        </div>
      </div>      
          
      <ul class="list-group">
        <%= will_paginate(@questions, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>   
        <% if @questions.size.zero? %>
          <div class="mt-3">
            <h3 class="text-center"><%= t('links.user_has_no_questions') %></h3>
          </div>    
        <% end %>            
        <% @questions.each do |question| %>
          <li class="list-group-item rounded mt-3"><%= render partial: 'questions/question', object: question %></li>
        <% end %>
      </ul>   
    </div>
  </div>
</div>
