<div class="col-3">
  <nav class="nav flex-column">
    <%= link_to "Все пользователи", root_path, class: "btn btn-primary m-1" %>
    <% if current_user %>
      <%= link_to "@#{current_user.username}", user_path(current_user), class: "btn btn-primary m-1" %>
      <%= link_to 'Редактировать профиль', edit_user_path(current_user), class: "btn btn-primary m-1" %>
      <%= link_to 'Выйти', log_out_path, class: "btn btn-primary m-1" %>
    <% else %>  
      <%= link_to 'Войти', log_in_path, class: "btn btn-primary m-1" %>
      <%= link_to 'Зарегистрироваться', sign_up_path, class: "btn btn-primary m-1" %>      
    <% end %>    
  </nav>
</div>