<!DOCTYPE html>
<html>
  <head>
    <title>Askme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1><%= link_to "Хорошие вопросы", root_path %></h1>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
